@font-face {
    font-family: Product Sans;
    src: url('/fonts/Product Sans.ttf');
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


body {
    font-family:Product Sans;
}
 .bg-1 {
     background:#ffffff;
 }

 #taglog .title {
     font-family: "Product Sans";
     color:#fff;
     font-size:35px;
     font-weight:800;
     line-height:45px;
 }

#taglog .sub-title {
    font-family: "Product Sans";
    color:#fff;
    font-size:28px;
    font-weight:400;
    line-height:38px;
}

.advance-search {
    background: #08B3E6;
    padding:25px 0px;
}

.search-title {
    font-size:15px;
    font-weight: 400;
    color: #ffffff;
    padding: 10px;
}
.advance-search input {
    background-color: #3CBC8D;
    color:#ffffff;
    border: 1px solid #ffffff;
}

.advance-search select {
    font-family:Product Sans;
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    color:#B2B3B3;
    font-size:13px;
    background-color: #EAF6FD;
    border-radius: 0px !important;
}

.advance-search select:focus {
    font-family:Product Sans;
    background-color: #f1f1f1;
}
.agent-container{
    background: #EAF6FD;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.employer-container {
    padding: 10px 10px;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
}
.title-attr {
    font-family:Product Sans;
    font-size:13px;
    color:#969696;
}
.sub-title-attr{
    font-family:Product Sans;
    font-size:12px;
    color:#969696;
}
.title-attr span {
    font-family:Product Sans;
    color:#505050;
    font-weight: normal;
}
.title-attr span a {
    font-family:Product Sans;
    color:#505050;
}
.title {
    font-family:Product Sans;
    font-size: 22px;
    color: #888;
}

.sub-title {
    font-family:Product Sans;
    font-size: 18px;
    color: #888;
}
.paragraph {
    font-family:Product Sans;
    color:#333;
}
.visa-type-item {
    font-family:Product Sans;
    background: #00aced;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
    /*border-radius: 5px;*/
    font-size: 12px;
}

.link-cta {
    font-family:Product Sans;
    font-size:12px;
    color:#969696;
}
.link-cta i{
    color:#00aced;
    font-weight: bold;
}

.link-map {
    font-family: Product Sans;
    font-size: 8px;
    color: #969696;
    border: 1px solid #00aced;
    padding: 7px;
    border-radius: 0px;

}
.industry-type-item {
    font-family:Product Sans;
    background: #00aced;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
    /*border-radius: 5px;*/
    font-size: 12px;
}

.industry-type-item a {
    font-family:Product Sans;
    background: #00aced;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
    /*border-radius: 5px;*/
    font-size: 12px;
}

.review-container {
    background: #EAF6FD;
    padding:10px 0px;
}
.single-review {
    padding-right:10px;
    border-right:1px solid #bbb;
}
.review-stars .checked {
    color: #00aced;
}

.reviewer-attr {
    color: #333;
    font-size: 12px;
    float: left;
    margin: 5px;
    line-height: 1.2;
}

.reviewer-attr span {
    font-family:Product Sans;
    color: #00aced;
}

